/images/ILSVRC2012_devkit_t12/*
/images/imagenet/*
/images/training_images/*

/Parametric t-SNE/*
/features/**/*.hkl

/.idea
/code/.idea
*.npz
*.hkl
*.pyc
*.index

/images/training_images/*

/features/**/*.hkl

*.caffemodel
*.npy
*.JPEG
